Node-Red-Flow-Setup.json
[{"id":"f6f7691c.1874e8","type":"tab","label":"BCI Flow","disabled":true,"info":""},{"id":"b5588629.963088","type":"tab","label":"Test Flow","disabled":true,"info":""},{"id":"c88636f6.cfc1b8","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"be0eb47c.ba80e8","type":"websocket-listener","path":"/ws/publish","wholemsg":"false"},{"id":"985ecbc7.67a138","type":"websocket-listener","z":"9e538f88.61ac7","path":"/ws/simple","wholemsg":"false"},{"id":"9de729ae.66292","type":"websocket-listener","path":"/simple","wholemsg":"false"},{"id":"e6909730.c8722","type":"websocket-listener","path":"/ws/simplelog","wholemsg":"false"},{"id":"2f45986.1f889e8","type":"websocket-listener","path":"/ws/randomdata","wholemsg":"false"},{"id":"94e6aec3.9e3ef8","type":"EMOTIV","z":"f6f7691c.1874e8","name":"EMOTIV","x":100,"y":120,"wires":[["a03193a3.d60268"]]},{"id":"6586be6.8e852c","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"neutral","mcSen":10,"x":500,"y":120,"wires":[["95fa3616.4d0e3"]]},{"id":"a03193a3.d60268","type":"Profile-Name","z":"f6f7691c.1874e8","name":"Profile","profileName":"thb","x":250,"y":120,"wires":[["6586be6.8e852c","664640a9.a3cba","a343db61.c22398","aa2317e5.05be68","e8300e12.0291a8"]]},{"id":"664640a9.a3cba","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"left","mcSen":10,"x":490,"y":180,"wires":[["fa7d9c8.e133be"]]},{"id":"a343db61.c22398","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"right","mcSen":10,"x":490,"y":240,"wires":[["914a6b3a.3d9df8"]]},{"id":"aa2317e5.05be68","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"lift","mcSen":10,"x":480,"y":300,"wires":[["bd9388fa.853398"]]},{"id":"e8300e12.0291a8","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"drop","mcSen":10,"x":490,"y":360,"wires":[["cbefe677.e79498"]]},{"id":"3700179d.136bc","type":"debug","z":"b5588629.963088","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":280,"wires":[]},{"id":"b8aa32a8.2a28e8","type":"join","z":"b5588629.963088","name":"data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":220,"wires":[["3700179d.136bc","100f7a71.da4176"]]},{"id":"793ec191.c1cdc","type":"random","z":"b5588629.963088","name":"neutral","low":"0","high":"100","inte":"true","property":"payload","x":250,"y":220,"wires":[["c92cca73.8e6b18"]]},{"id":"674a2d92.20b99c","type":"inject","z":"b5588629.963088","name":"loop","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":220,"wires":[["793ec191.c1cdc","fb466554.f309","945ef89.4fbc388","50dd2df6.6f71ec","6010167.5646568"]]},{"id":"fb466554.f309","type":"random","z":"b5588629.963088","name":"left","low":"0","high":"100","inte":"true","property":"payload","x":250,"y":280,"wires":[["c949df29.91e8d"]]},{"id":"945ef89.4fbc388","type":"random","z":"b5588629.963088","name":"right","low":"0","high":"100","inte":"true","property":"payload","x":250,"y":340,"wires":[["fbb05454.1c2cb"]]},{"id":"50dd2df6.6f71ec","type":"random","z":"b5588629.963088","name":"lift","low":"0","high":"100","inte":"true","property":"payload","x":250,"y":400,"wires":[["89f494d5.c2e728"]]},{"id":"6010167.5646568","type":"random","z":"b5588629.963088","name":"drop","low":"0","high":"100","inte":"true","property":"payload","x":250,"y":460,"wires":[["ba2489f7.ce72f8"]]},{"id":"c92cca73.8e6b18","type":"function","z":"b5588629.963088","name":"","func":"msg.topic = \"Neutral\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["b8aa32a8.2a28e8"]]},{"id":"c949df29.91e8d","type":"function","z":"b5588629.963088","name":"","func":"msg.topic = \"Left\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["b8aa32a8.2a28e8"]]},{"id":"fbb05454.1c2cb","type":"function","z":"b5588629.963088","name":"","func":"msg.topic = \"Right\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["b8aa32a8.2a28e8"]]},{"id":"89f494d5.c2e728","type":"function","z":"b5588629.963088","name":"","func":"msg.topic = \"Lift\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["b8aa32a8.2a28e8"]]},{"id":"ba2489f7.ce72f8","type":"function","z":"b5588629.963088","name":"","func":"msg.topic = \"Drop\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":460,"wires":[["b8aa32a8.2a28e8"]]},{"id":"100f7a71.da4176","type":"websocket out","z":"b5588629.963088","name":"randomdata","server":"2f45986.1f889e8","client":"","x":730,"y":220,"wires":[]},{"id":"5e81c285.9514a4","type":"debug","z":"f6f7691c.1874e8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":180,"wires":[]},{"id":"282c76bf.ba707a","type":"join","z":"f6f7691c.1874e8","name":"data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":120,"wires":[["5e81c285.9514a4","8eb95767.224568"]]},{"id":"95fa3616.4d0e3","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Neutral\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":120,"wires":[["282c76bf.ba707a"]]},{"id":"fa7d9c8.e133be","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Left\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":180,"wires":[["282c76bf.ba707a"]]},{"id":"914a6b3a.3d9df8","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Right\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["282c76bf.ba707a"]]},{"id":"bd9388fa.853398","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Lift\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":300,"wires":[["282c76bf.ba707a"]]},{"id":"cbefe677.e79498","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Drop\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["282c76bf.ba707a"]]},{"id":"8eb95767.224568","type":"websocket out","z":"f6f7691c.1874e8","name":"randomdata","server":"2f45986.1f889e8","client":"","x":1050,"y":120,"wires":[]}]