SuperBrainGame_Node-RED-Flow.json
[{"id":"f6f7691c.1874e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94e6aec3.9e3ef8","type":"EMOTIV","z":"f6f7691c.1874e8","name":"EMOTIV","x":100,"y":120,"wires":[["a03193a3.d60268"]]},{"id":"6586be6.8e852c","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"neutral","mcSen":10,"x":541,"y":120,"wires":[["8a372a29.fbc52"]]},{"id":"a03193a3.d60268","type":"Profile-Name","z":"f6f7691c.1874e8","name":"Profile Name","profileName":"profilename","x":290,"y":120,"wires":[["6586be6.8e852c","664640a9.a3cba","a343db61.c22398"]]},{"id":"664640a9.a3cba","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"left","mcSen":10,"x":531,"y":180,"wires":[["56ade149.243bb"]]},{"id":"a343db61.c22398","type":"Mental-Command","z":"f6f7691c.1874e8","name":"Mental Commands","actionName":"right","mcSen":10,"x":531,"y":240,"wires":[["23d5ba2d.26c8fe"]]},{"id":"a9256350.87bce","type":"join","z":"f6f7691c.1874e8","name":"data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":120,"wires":[["7ef2edfb.6348ec","9130084.e034478"]]},{"id":"8a372a29.fbc52","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Neutral\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743,"y":120,"wires":[["a9256350.87bce"]]},{"id":"56ade149.243bb","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Left\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743,"y":180,"wires":[["a9256350.87bce"]]},{"id":"23d5ba2d.26c8fe","type":"function","z":"f6f7691c.1874e8","name":"","func":"msg.topic = \"Right\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743,"y":240,"wires":[["a9256350.87bce"]]},{"id":"7ef2edfb.6348ec","type":"debug","z":"f6f7691c.1874e8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1063,"y":180,"wires":[]},{"id":"9130084.e034478","type":"websocket out","z":"f6f7691c.1874e8","name":"/ws/data","server":"10621a2.b2a1566","client":"","x":1043,"y":120,"wires":[]},{"id":"10621a2.b2a1566","type":"websocket-listener","path":"/ws/data","wholemsg":"false"}]